body {
  background-image: url("images/todo-note.jpg");
  background-position: center;
}

h1 {
  font-size: 4rem;
}

h1,
form,
li {
  text-align: center;
}

label {
  font-family: "Rochester", cursive;
  font-size: 2rem;
}

h1,
input {
  font-family: "Delicious Handrawn", cursive;
}

li {
  list-style: none;
  margin: 1rem;
}

.checkmark-button {
  margin: 1rem;
}
